*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.sfondo-main{
    height: 100vh;
    width: 100vw;
    background-color: #dfdfd9;
}
.sfondoheader{
    width: 100vw;
    height: 15%;
    background-color:#459e93 ;
}
.barista{
    position: absolute;
    margin-left: 10%;
    margin-top: 2.33vh;
    width: 30%;
    height: 95vh;
    background-color: red;
    float:left;
}
.chat{
    position: absolute;
    margin-left: 40%;
    margin-top: 2.33vh;
    width: 50%;
    min-width: 50%;
    height: 95vh;
    min-height: 95vh;
    background-color: yellow;
    float:left;

}
.utente{
    background-color: #ededed;
    width: 100%;
    height: 11%;
    min-height: 75px;
}
.imgutente{

    width: 60px;
    height: 60px;
    position: relative;
    top: 5px;
    left: 5px;
    float: left;

}
.imgutente img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    float: left;
}
.icons{
    width: 50px;
    height: 60px;
    position: relative;
    top: 5px;
    right: 5px;
    float: right;
}
.icons i{
    color: #bababa;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    cursor: pointer;
}
.icons i:active{
    color: white;
}
.mex{
    height: 70%;
    min-height: 70%;
    background-color: pink;
    overflow-y: auto;
}
.search{
    background-color: #f8f8f8;
    height: 55px;
    min-height: 8%;
    padding: 10px;
    background-color: #f6f6f6;
}
.search input{
    height: 100%;
    width: 100%;
    border-style: none;

}
.search i{
    position: relative;
    bottom:25px;
    left: 10px;
    color: #bfc1c3;
}
.messaggio{
    height: 72px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #f8f8f8;
    padding-top: 5px;
    cursor: pointer;
}
.messaggio:hover{
    background-color: #eceeee
}
.notifiche {
    background-color: #a7ddf9;
    cursor:default;
    border: none;
}
.notifiche:hover {
    background-color: #a7ddf9;
}
.messaggio img{
    width: 60px;
    height: 60px;
    margin-left: 5px;
    border-radius: 100%;
    float: left;
    cursor: pointer;
}
.messaggio p{
    z-index: 0;
    cursor: pointer;
}
.orario{
    float: right;
    width: 40px;
    height: 20px;
    margin-top: 20px;
    color: #dcdede;
    margin-right: 5px;
}
.destinatario{
    position: relative;
    background-color:#ededed;
    width: 100%;
    height: 75px;
    min-height: 75px;
    border-left: 2px solid #e2e2e2;
}
.informazioni{
    height: 100%;
    width: 300px;
    position: relative;
    left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.desk{
    height: 600px;
    width: 100%;
    background-image: url(https://www.jakpost.travel/wimages/large/119-1190275_worlds-okayest-bard-i-made-a-d-d.png);
    background-size: contain;
    overflow-y: auto;
}
.testo{
    position: fixed;
    top: 624px;
    background-color: #f4f0ed;
    width: 50%;
    height: 75px;
    min-height: 75px;
}
.emoticons{
    width: 13%;
    height:100%;
    float: left;
}
.vocale{
    width: 13%;
    height:100%;
    float: left;
}
.grande{
    width: 74%;
    height: 100%;
    float: left;
    background-color: #f4f0ed;
}
.grande input{
    padding: 10px;
    border-radius: 2px;
}
.mexyou{
    width: 100%;
    height: 100px;


}
.mexme{
    width: 100%;
    height: 100px;

}
.io{
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
}
.tu{
    width: 300px;
    height: 100%;
    background-color: #e0f8c7;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
}
